body {
  margin: 0;
  display: flex;
  font-family: Arial, sans-serif;
}

#map {
  flex: 1;
  height: 100vh;
}

#sidebar {
  width: 280px;
  background: #ffffff;
  padding: 15px;
  border-right: 1px solid #ccc;
}

h2 {
  margin-top: 0;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

/* Mobile */
@media (max-width: 768px) {
  #sidebar {
    display: none;
  }
}