body {
  margin: 0;
  display: flex;
  font-family: Arial;
}

#map {
  flex: 1;
  height: 100vh;
}

#sidebar {
  width: 300px;
  background: #f4f4f4;
  padding: 10px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}